<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in Page</title>
</head>
<body>
    {% load socialaccount %}

    <h1>Sign in</h1>

    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>
        <a href="{% url 'account_logout' %}">Logout</a>
    {% else %}
        <h2>Google</h2>
        <a href="{% provider_login_url 'google' %}?next={{ request.GET.next|default:'/' }}">Login with Google</a>
    {% endif %}
    
</body>
</html>
